### Arbitrary Arguments [*agrs]

In [ ]:
def cal_num(*number): # after '*' you canto change name like: *item , *agrs , *numberic 
    print(number[0]+number[1])
cal_num(5,10)

### KeyWord Arguments

In [ ]:
def data_profile(fname,lname,city):
    print("First Name :",fname)
    print("last Name :",lname)
    print("city :",city)
print('=========================')
data_profile('Bangkok','Sompong','Makmee') #before
print('=========================')
data_profile(lname="Makmee",fname="Sompong",city="Bangkok") #after
print('=========================')

### Default Parameter

In [ ]:
def data_profile(fname,lname,city="Bangkok"):
    print("First Name :",fname)
    print("last Name :",lname)
    print("city :",city)
data_profile('Sompong','Makmee')

### List Parameter

In [ ]:
def data_fruit(item):
    for i in range(len(item)):
        print('fruit[%d] : %s'%(i+1,item[i]))
fruit = ['apple','mango','coconut','corn','banana']
data_fruit(fruit)

###  Function Return

In [ ]:
def num_plus(*number):
    return number[0]+number[1]
num_plus(35,67)

### Arbitrary Arguments [*kwargs]

In [ ]:
def display_data(**kwargs):
    print(kwargs)
display_data(fname="Korathank",lname="Kongpanna")
display_data(fname="Korathank",lname="Kongpanna",age=20)
display_data(fname="Korathank",lname="Kongpanna",age=20,city="bangkok")
display_data(fname="Korathank",lname="Kongpanna",age=20,city="bangkok",status="have a sweetheart")
display_data(fname="Korathank",lname="Kongpanna",age=20,city="bangkok",status="have a sweetheart",job="Programmer")

### Function call Function

In [ ]:
def equal(x,y,z):
    one = com_pare_max(x,y)
    return com_pare_max(one,z)
#     return com_pare_max(com_pare_max(x,y),z)

def com_pare_max(x,y):
    if x > y:
        return x
    else:
        return y
print('The most of number is ',equal(35,34,12))

### Recursive Function

In [ ]:
# find loop point , find exit point from loop
# example : I want the number range 1-5 but don't use for loop
def count(number):
    if  number == 6:
        return
    print(number)
    number+=1
    count(number)
    
def summa_tion_demo01(num,sumx):
    sumx += num
    print(sumx)
    if num == 10:
        return
    num+=1
    summa_tion(num,sumx)

def sum_mation_demo02(num,sumx):
    if num == 0:
        return
    sumx += num
    print('The numberic is ',num,'and The summation is ',sumx)
    num-=1
    sum_mation_demo02(num,sumx)
def list_sum():
    list_sumx = [i for i in range(6)]
    print(sum(list_sumx))
    
# The best of summation by function
def sumx_best(number):
    if number == 1:
        return number 
    else:
        return number+sumx_best(number-1)

### Function_Factorial ' ! '

In [ ]:
def fac_torial(number):
    if number == 1:
        return number
    else:
        return number*fac_torial(number-1)
    
print('The Factorial is ',fac_torial(int(input("Please enter the number :"))))

### Function_Fibonacci [0,1,1,2,3,5,8,...]

In [2]:
def fibo_nacci(num):
    if num <= 1:
        return num
    else:
        return fibo_nacci(num-1) + fibo_nacci(num-2)
for i in range(10):
    print(fibo_nacci(i))

0
1
1
2
3
5
8
13
21
34

### Pass_Function

In [3]:
def get_name(name):
    if name == "korathank":
        print("Congratulation!!!")
    else:
        pass
get_name(str(input("Please enter name :")))

Please enter name :korathank
Congratulation!!!

### Lambda_Function

In [18]:
# lambda argument : expresstion
lambda name:name
x = lambda name:name
print(x("Korathank"))

sumx = lambda x,y:x+y
print(sumx(56,34))

multiply = lambda x,y:x*y
print(multiply(4,6))

def my_power(x):
#     x is numberic
#     a is power number 
    return lambda a:x**a
y = my_power(5)
result = y(2)
print(result)

Korathank
90
24
25

### Assignment_01 [ Summation&Average ]

In [9]:
def sum_avg(number):
    total = 0
    for i in number:
        total+=i
    avg = total/len(number)
    return total,avg
    
number = [ i for i in range(int(input("Please enter the numberic : "))+1)]
total,avg = sum_avg(number)
print("The total of number is : ",total)

print("The Average of numberic is :",avg)
# 5 + 4 + 3 + 2 + 1 = 15à¸´

Please enter the numberic : 5
The total of number is :  15
The Average of numberic is : 2.5

### Assignment_02 [ The Telephone ]

In [1]:
data = {"191":"emergency","1669":"hospital","1445":"fireman"}
def search_data(string):
    for key,value in data.items():
        if string == value:
            print('The telephone number is ',key)
search_data("fireman")

The telephone number is  1445

### Assignment_03 [ The Tower of Hanoi ]

In [3]:
def ha_noi(n,a,b,c):
    if n == 0:
        return
    ha_noi(n-1,a,c,b)
    print("Plate : ",n,"from =>",a,"go",c)
    ha_noi(n-1,b,a,c)
ha_noi(3,"A","B","C")

Plate :  1 from => A go C
Plate :  2 from => A go B
Plate :  1 from => C go B
Plate :  3 from => A go C
Plate :  1 from => B go A
Plate :  2 from => B go C
Plate :  1 from => A go C