# Chapter 4 [ Data Structure ]

# Numberic

In [ ]:
# type()
numberic1 = 5
print(type(numberic1))
numberic1

In [ ]:
numberic2 = -3
print(type(numberic2))
numberic2

In [ ]:
numberic3 = 0
print(type(numberic3))
numberic3

In [ ]:
x = input('Please input number :')
print(x,type(x))

In [ ]:
numberic1 = 5.0
print(numberic1,type(numberic1))

In [ ]:
numberic2 = -3.1
print(numberic2,type(numberic2))

In [ ]:
numberic3 = 0.0
print(numberic3,type(numberic3))

In [ ]:
number = float(input('Please input number :'))
print(number,type(number))

In [ ]:
int1 = int(input('Please input number :'))
int2 = int(input('Please input number :'))
print(int1+int2,type(int1+int2))
print(int1-int2,type(int1-int2))
print(int1*int2,type(int1*int2))
print(int1/int2,type(int1/int2))

In [ ]:
float1 = float(input('Please input number :'))
float2 = float(input('Please input number :'))
print(float1+float2,type(float1+float2))
print(float1-float2,type(float1-float2))
print(float1*float2,type(float1*float2))
print(float1/float2,type(float1/float2))

In [ ]:
float1 = float(input('Please input number :'))
int2 = int(input('Please input number :'))
print(float1+int2,type(float1+int2))
print(float1-int2,type(float1-int2))
print(float1*int2,type(float1*int2))
print(float1/int2,type(float1/int2))

In [ ]:
logic1 = True 
print(logic1,type(logic1))

In [ ]:
logic1 = False
print(logic1,type(logic1))

In [ ]:
logic1 = True
logic2 = False
print(logic1 and logic2)

In [ ]:
logic1 = True
logic2 = False
print(logic1 or logic2)

In [ ]:
complex1 = 1 + 2j
print(complex1,type(complex1))

In [ ]:
complex1 = 1 + 2j
print(complex1.real) #show real number

In [ ]:
complex1 = 1 + 2j
print(complex1.imag) #show imagin number

# String

In [ ]:
string1 = 'Python'
print(string1,type(string1))

In [ ]:
string1 = 'Python'
print(string1[0])

In [ ]:
string1 = 'Python'
print(string1[1])

In [ ]:
string1 = 'Python'
print(string1[-1])

In [ ]:
string1 = 'Python'
print(string1[-2])

In [ ]:
string1 = 'Python'
print(string1[2])

In [ ]:
string1 = 'Python'
print(string1[3])

In [ ]:
string1 = 'Python'
print(string1[1:3])

In [ ]:
string1 = 'Python'
print(string1[2:-2])

In [ ]:
string1 = 'Python'
print(string1[2:-1])

In [ ]:
string1 = 'Python'
print(string1[-4:4])

In [ ]:
string1 = 'Python'
print(string1[-6:4])

In [ ]:
string1 = 'Python'
print(string1[-4:-2])

In [ ]:
#len(string variable)
string = input('Please your input sentence :')
print(len(string)) # count len in sentence

In [ ]:
string = input('Please your input sentence :')
print('P' in string) # check 'P' in centence [ return True or False ]

In [ ]:
string1 = input('Please your input sentence :')
string2 = input('Please your input sentence :')
print(string2 in string1)

In [ ]:
#replace(value primitive , value replace)
string = input('Please your input sentence :')
print(string.replace('a','A')) # replace word

In [ ]:
string = input('Please your input sentence :')
string2 = string.replace('a','A')
string2

In [ ]:
#split(value)
string = input('Please your input sentence :')
print(string.split(' ')) #cut word

In [ ]:
string = input('Please your input sentence :')
c = '-'
print(string.split(c))

In [ ]:
str1 = input('Please input sentence : ')
str2 = input('Please input sentence : ')
print(str1+str2)

# List

In [ ]:
_list = [0,1,2,'a','b','c']
print(_list,type(_list))

In [ ]:
list1 = [0,1,2,'a','b','c']
print(list1[2])

In [ ]:
list1 = [0,1,2,'a','b','c']
list1[-3]

In [ ]:
list1 = [0,1,2,'a','b','c']
list1[0]

In [ ]:
list1 = [0,1,2,'a','b','c']
list1[-2]

In [ ]:
list1 = [0,1,2,'a','b','c']
print(list1[2:4])

In [ ]:
list1 = [0,1,2,'a','b','c']
print(list1[1:-1])

In [ ]:
list1 = [0,1,2,'a','b','c']
print(list1[0:5])

In [ ]:
list1 = [0,1,2,'a','b','c']
print(list1[3:7])

In [ ]:
list1 = [0,1,2,'a','b','c']
print(list1[0:3])

In [ ]:
list2 = ['ant','bird','cat','dog','eagle']
list2[3] = 'duck'
print(list2)

In [ ]:
list2 = ['ant','bird','cat','dog','eagle']
list2[0] = 'ape'
print(list2)

In [ ]:
#append(value)
list2 = ['ant','bird','cat','dog','eagle']
list2.append('fish') # insert word in list 
print(list2)

In [ ]:
emply_list = []
str1 = input('Please insert first element :')
str2 = input('Please insert second element :')
str3 = input('Please insert third element :')
emply_list.append(str1)
emply_list.append(str2)
emply_list.append(str3)
print(emply_list)

In [ ]:
#insert(index,value)
list3 = ['apple','cherry','eggfruit']
list3.insert(-2,'kiwi') #insert string between index
print(list3)

In [ ]:
# variable.sort()
list4 = [0,4,2,3,1]
list4.sort() #Sort ascending
print(list4)

In [ ]:
list4 = [0,4,2,3,1]
list4.sort(reverse=True) #Sort descending order
print(list4)

In [ ]:
#Sort in ascending order, then put the values in the same variables.
list4 = [0,4,2,3,1]
list4 = sorted(list4)
print(list4)

In [ ]:
list4 = [0,4,2,3,1]
list4 = sorted(list4,reverse=True)
print(list4)

In [ ]:
list5 = ['d','a','c','b','e']
list5.sort()
print(list5)

In [ ]:
list5 = ['d','a','c','b','e']
sorted_list5 = sorted(list5,reverse=True)
print(sorted_list5)

In [ ]:
#extend 
list1 = ['a','b','c']
list2 = [0,1,2]
list2.extend(list1)
print(list2)
print(list1)

In [ ]:
list1 = ['a','b','c']
list2 = [0,1,2]
list3 = list1 + list2
print(list1)
print(list2)
print(list3)

In [ ]:
#del 
list1 = [1,2,3,1,2,3]
del(list1[1])
list1

In [ ]:
list1 = [1,2,3,1,2,3]
del(list1[2])
del(list1[-1])
list1

In [ ]:
#remove
list1 = [1,2,3,1,2,3]
list1.remove(1)
list1.remove(1)
print(list1)

In [ ]:
#clear
list1 = [1,2,3,1,2,3]
# del(list1[0:7])
list1.clear()
print(list1)

In [ ]:
list1 = [1,2,3,'a','b','c']
print(len(list1))

In [ ]:
list1 = [1,2,3,4,5]
numberic1 = int(input('Please input number :'))
print(numberic1 in list1)

# Tuple

In [ ]:
tuple1 = ('American','Brazil','China','Do-minican','Egypt')
print(tuple1,type(tuple1))

In [ ]:
tuple1 = ('American','Brazil','China','Dominican','Egypt')
print(tuple1[1])

In [ ]:
tuple1 = ('American','Brazil','China','Dominican','Egypt')
print(tuple1[-2])

In [ ]:
tuple1 = ('American','Brazil','China','Dominican','Egypt')
print(tuple1[2])

In [ ]:
tuple1 = ('American','Brazil','China','Dominican','Egypt')
print(tuple1[-1])

In [ ]:
tuple2 = ('one','two','three',1,2,3)
print(tuple2[1:3])

In [ ]:
tuple2 = ('one','two','three',1,2,3)
print(tuple2[2:-2])

In [ ]:
tuple2 = ('one','two','three',1,2,3)
print(tuple2[2:-2])

In [ ]:
tuple2 = ('one','two','three',1,2,3)
print(tuple2[0:3])

In [ ]:
tuple2 = ('one','two','three',1,2,3)
print(tuple2[-3:6])

In [ ]:
tuple3 = ('one','two','three','four','five')
print(len(tuple3))

In [ ]:
tuple3 = ('one','two','three','four','five')
str1 = input('Please input word :')
print(str1 in tuple3)

# Dictionary

In [ ]:
dict1 = {'first_name':'John','last_name':'Doe'}
print(dict1,type(dict1))

In [ ]:
dict1 = {'first_name':'John','last_name':'Doe'}
print(dict1['first_name'])

In [ ]:
dict1 = {'first_name':'John','last_name':'Doe'}
print(dict1['last_name'])

In [ ]:
dict1 = {'first_name':'John','last_name':'Doe'}
print(dict1.keys())

In [ ]:
dict1 = {'first_name':'John','last_name':'Doe'}
print(dict1.values())

In [ ]:
dict1 = {'first_name':'John','last_name':'Doe'}
dict1['first_name'] = 'Jane'
print(dict1)

In [ ]:
dict1 = {'first_name':'John','last_name':'Doe'}
dict1['age'] = '32'
print(dict1)

In [ ]:
dict1 = {'first_name':'John','last_name':'Doe'}
dict1['age'] = '32'
dict1['hobby'] = ['coding','studying']
print(dict1)

In [ ]:
emply_dic = {}
str1 = str(input('Please your input key : '))
str2 = str(input('Please your input value : '))
emply_dic[str1] = str2
print(emply_dic)

In [ ]:
dict1 = { 'first_name':'John' , 'last_name':'Doe' , 'age':32 }
del dict1['age']
print(dict1)

In [ ]:
dict1 = {'first_name':'John','last_name':'Doe','age':32}
dict1.clear()
print(dict1)

In [ ]:
dict1 = {'first_name':'John','last_name':'Doe','age':32}
print(len(dict1.keys()))

In [ ]:
dict1 = {'first_name':'John','last_name':'Doe','age':32}
str1 = str(input('Please input word :'))
print(str1 in dict1.keys())

In [ ]:
dict1 = {'first_name':'John','last_name':'Doe','age':32}
str1 = str(input('Please input word :'))
print(str1 in dict1.values())

# Set

In [ ]:
var_set =  {1,2,3,'i','ii','iii'}
print(var_set,type(var_set))

In [ ]:
var_set =  {1,2,3,'i','ii','iii'}
print(var_set)

In [ ]:
var_set =  {1,2,3,'i','ii','iii'}
var_set.add('iv')
print(var_set)

In [ ]:
var_set =  {1,2,3,'i','ii','iii'}
var_set.add(1)
print(var_set)

In [ ]:
emply_set = set()
str1 = str(input('Please insert text in set : '))
str2 = str(input('Please insert text in set : '))
str3 = str(input('Please insert text in set : '))
emply_set.add(str1)
emply_set.add(str2)
emply_set.add(str3)
print(emply_set , type(emply_set))

In [ ]:
emply_set = set()
str1 = str(input('Please insert text in set : '))
str2 = str(input('Please insert text in set : '))
str3 = str(input('Please insert text in set : '))
emply_set.update(str1)
emply_set.update(str2)
emply_set.update(str3)
print(emply_set , type(emply_set))

In [ ]:
var_set =  {1,2,3,'i','ii','iii'}
var_set.remove('i')
print(var_set)

In [ ]:
var_set =  {1,2,3,'i','ii','iii'}
print(len(var_set))

In [ ]:
var_set =  {1,2,3,'i','ii','iii'}
var_int = int(input('Please input number :'))
print(var_int in var_set)

In [ ]:
# '|' => is mean symbol union
var_set1 = {1,2,3,4,5}
var_set2 = {3,4,5,6}
var_set3 = var_set1 | var_set2
print(var_set3,type(var_set3))

In [ ]:
# '&' ==> is mean symbol intersection
var_set1 = {1,2,3,4,5}
var_set2 = {3,4,5,6}
var_set3 = var_set1 & var_set2
print(var_set3,type(var_set3))

In [ ]:
var_set1 = {1,2,3,4,5}
var_set2 = {3,4,5,6}
print(var_set1 - var_set2)

In [ ]:
var_set1 = {1,2,3,4,5}
var_set2 = {3,4,5,6}
print(var_set2 - var_set1)

In [ ]:
# symmetric difference ['Combines members but excludes members that are the same.']
# '^' this is symbol for symmetric difference 

var_set1 = {1,2,3,4,5}
var_set2 = {3,4,5,6}
print(var_set1 ^ var_set2)